<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog App</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
  <template v-if="currentPage=='login'">
    <login-page></login-page>
  </template>
  <template v-else>
    <navbar :current-page="currentPage"></navbar>
    <div class="container">
      <div :class="[{alert: true}, alertTypeClass]" role="alert" v-if="notification">{{notification}}</div>
      <template>
        <index-page :user-token="userToken" :is-superuser="isSuperuser" v-if="currentPage=='index'"></index-page>
        <post-blog-page :user-token="userToken" v-else-if="currentPage=='post-blog'"></post-blog-page>
      </template>
    </div>
  </template>
</div>
</body>
<script src="./components/login.js"></script>
<script src="./components/navbar.js"></script>
<script src="./components/index.js"></script>
<script src="./components/post_blog.js"></script>

<script>
  var app = new Vue({
    el: '#app',
    data() {
      return {
        currentPage: 'login',
        userToken: null,
        isSuperuser: false,
        notification: null,
        alertTypeClass: 'alert-success',
        notifyTimeout: ''
      }
    },
    methods: {
      changePage(page) {
        this.currentPage = page
      },
      userLogin(data){
        this.userToken = data.token
        this.isSuperuser = data.is_superuser
        this.changePage('index')
        this.generateNotification('User successfully logged in.')
      },
      logoutUser(){
        this.userToken = null
        this.changePage('login')
        this.generateNotification('User successfully logged out.')
      },
      generateNotification(notice, notifyType='alert-success'){
        clearTimeout(this.notifyTimeout)
        this.alertTypeClass = notifyType
        this.notification = notice
        this.notifyTimeout = setTimeout(()=>{
          this.notification = ''
        }, 5000)
      }
    },
    created() {
    }
  })

</script>
</html>